.center-align {
    margin: 0 auto;
}
.txt_center {
    text-align: center;
}
.txt_left {
    text-align: left;
}
.txt_right {
    text-align: right;
}
.m_color {
    color: #0ead8e;
}
.f_s_30 {
    font-size: 30px;
}
.f_s_20 {
    font-size: 20px;
}
.f_s_15 {
    font-size: 15px;
}
.c_white {
    color: #FFFFFF;
}
.red_color {
    color: #880000;
}
.f_st_italic {
    font-style: italic;
}
.breadcrumb {
    background-color: transparent;
    font-family: serif;
    font-style: italic;
    font-size: 17px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}