.container-fluid, .container, ul {
    padding: 0;
}
.row {
    margin: 0;
}

div.main_content, footer.footer {
    margin: 0 auto;
}


.wrapper {
    /*background: #e9ebee;*/
}

header.header {
    margin: 0 auto 20px auto;
    height: 120px;
}

header.header .logo {

}

header.header .logo img {
    height: 120px;
}


div.main_content {
    margin-bottom: 20px;
}


/* FOOTER */
footer.footer {
    background: #0ead8e;
    padding: 20px 100px;
}

footer.footer p.header {
    color: #ccc;
    font-size: 1.5em;
}

footer.footer ul.list_item {
    list-style-type: none;
}

footer.footer ul.list_item li {
    padding: 10px 0px;
}

footer.footer ul.list_item a {
    color: #FFFFFF;
}
footer.footer ul.list_item a:hover {
    color: #ccc;
}

footer.footer p.copy_right {
    text-align: center;
    font-style: italic;
    color: #ccc;
    font-size: 14px;
}


/* =============== TRANG THÔNG TIN CÁ NHÂN ================= */
.user_info {

}

.user_info p.txt_center:first-child {
    margin-bottom: 30px;
}

.user_info .avatar {
    position: relative;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto 20px auto;
}
.user_info .avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.user_info .avatar .change_avatar {
    position: absolute;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    bottom: 0;
}

.user_info .avatar .change_avatar i.fa-camera {
    font-size: 30px;
    line-height: 50px;
    padding-left: 10px;
    float: left;
    margin-right: 10px;
}
.user_info .avatar .change_avatar #text {
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
}
.user_info .info {

}
.user_info .info #username {
    font-size: 25px;
    margin-bottom: 20px;
}
.user_info .info #balance {
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 20px;
}
.user_info .info #charging {

}
.user_info .info #charging a{
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.user_info .tab-content {
    padding: 15px;
}

.user_info .history_transaction {

}
.user_info .history_transaction .item {
    margin-bottom: 40px;
}

.user_info .history_transaction .item p.name {
    margin-bottom: 15px;
}


/* ========================= TRANG CHỦ ========================= */
.search_course {
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 4px 6px -6px #ccc;
}
.search_course p#title {
    font-size: 30px;
}


















