/* ===  NAV WIDGET === */
.header .nav {
    height: 120px;
}

.header .nav ul {
    list-style-type: none;
    border-bottom: 1px solid #0ead8e;
}

.header .nav ul li {
    display: inline-flex;
    padding: 50px 30px 10px 30px;
}

.header .nav ul li a {
    color: #333;
}
.header .nav ul li a:hover {
    color: #0ead8e;
    text-decoration: none;
}


.header .nav ul li ul.child_menu {
    border-radius: 0;
    border: 0;
    box-shadow: 0 5px 5px #333;
}

.header .nav ul li ul.child_menu li {
    display: list-item;
    padding: 0;
}

.header .nav ul li ul.child_menu li a {
}

.header .nav ul li ul.child_menu li a:hover {
}

.header .nav li:hover {

}

.header .nav li a:hover {

}

.header .nav ul li.pos_right {
    float: right;
    padding-right: 0;
    padding-left: 5px;
    padding-top: 45px;
}

.header .nav ul li.pos_right span {
    padding: 5px 7px;
    background: #0ead8e;
}

.header .nav ul li.pos_right span a {
    color: #FFFFFF;
}

.header .nav ul li.pos_right span a:hover {
    color: #cccccc;
}



/* ===== SLIDE HOME ========= */















































